In [1]:
import pandas as pd
import numpy as np
import re

## Movie Lens original data

In [2]:
DATA_PATH="ml-1m/ml-1m/"
df_movies = pd.read_csv(DATA_PATH+"movies.dat", sep="::", header=None)
df_movies.columns = ["ItemID","Title","Genres"]
df_movies["Year"] = df_movies.Title.apply(lambda x: re.match(".*\((\w+)\)", x)[1])
df_movies.head()

C:\Users\kdhim\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.

,ItemID,Title,Genres,Year
0,1,Toy Story (1995),Animation|Children's|Comedy,1995
1,2,Jumanji (1995),Adventure|Children's|Fantasy,1995
2,3,Grumpier Old Men (1995),Comedy|Romance,1995
3,4,Waiting to Exhale (1995),Comedy|Drama,1995
4,5,Father of the Bride Part II (1995),Comedy,1995

In [3]:
map_occ = {0:  "other",
1:  "academic/educator",
2:  "artist",
3:  "clerical/admin",
4:  "college/grad student",
5:  "customer service",
6:  "doctor/health care",
7:  "executive/managerial",
8:  "farmer",
9:  "homemaker",
10:  "K-12 student",
11:  "lawyer",
12:  "programmer",
13:  "retired",
14:  "sales/marketing",
15:  "scientist",
16:  "self-employed",
17:  "technician/engineer",
18:  "tradesman/craftsman",
19:  "unemployed",
20:  "writer"}



df_users = pd.read_csv(DATA_PATH+"users.dat", sep="::", header=None)
df_users.columns = ["UserID","Gender","Age","Occupation","Zip-code"]
#df["Year"] = df.Title.applylambda x: re.match".*\\w+)\)", x)[1])
df_users["Occupation2"] = df_users.Occupation.apply(lambda x: map_occ[x])
df_users.head(10)

C:\Users\kdhim\Anaconda3\lib\site-packages\ipykernel_launcher.py:25: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.

   UserID Gender  Age  Occupation Zip-code           Occupation2
0       1      F    1          10    48067          K-12 student
1       2      M   56          16    70072         self-employed
2       3      M   25          15    55117             scientist
3       4      M   45           7    02460  executive/managerial
4       5      M   25          20    55455                writer
5       6      F   50           9    55117             homemaker
6       7      M   35           1    06810     academic/educator
7       8      M   25          12    11413            programmer
8       9      M   25          17    61614   technician/engineer
9      10      F   35           1    95370     academic/educator

In [4]:
df_ratings = pd.read_csv(DATA_PATH+"/ratings.dat", sep="::", header=None)
df_ratings.columns = ["UserID","ItemID","Rating","Timestamp"]
df_ratings["time"] = df_ratings.Timestamp.apply(lambda x: pd.datetime.fromtimestamp(x))

C:\Users\kdhim\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

In [5]:
df_ratings.head()

   UserID  ItemID  Rating  Timestamp                time
0       1    1193       5  978300760 2000-12-31 14:12:40
1       1     661       3  978302109 2000-12-31 14:35:09
2       1     914       3  978301968 2000-12-31 14:32:48
3       1    3408       4  978300275 2000-12-31 14:04:35
4       1    2355       5  978824291 2001-01-06 15:38:11

## NCF Paper data

In [6]:
NCF_DATA_PATH="neucolfilt/neural_collaborative_filtering/Data/"
df = pd.read_csv(NCF_DATA_PATH+"ml-1m.train.rating", sep="\t", header=None)
df.columns = ["UserID","ItemID","Rating","Timestamp"]
len(df.UserID.unique()), len(df.ItemID.unique())
train_items = set(df.ItemID.values)

In [7]:
df = pd.read_csv(NCF_DATA_PATH+"ml-1m.test.rating", sep="\t", header=None)
df.columns = ["UserID","ItemID","Rating","Timestamp"]
len(df.UserID.unique()), len(df.ItemID.unique())
test_items = set(df.ItemID.values)

In [8]:
test_items-train_items

{1805, 3569}

## Movie Lens Data - split train test data

In [9]:
# generate test data - ratings
df_ratings = pd.read_csv(DATA_PATH+"ratings.dat", sep="::", header=None)
df_ratings.columns = ["UserID","ItemID","Rating","Timestamp"]
#df_ratings["time"] = df_ratings.Timestamp.apply(lambda x: pd.datetime.fromtimestamp(x))

C:\Users\kdhim\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.

df1 = df_ratings.groupby("UserID").count()
users = set(df1[df1["ItemID"]>=300].index)
df_ratings["condition"] = df_ratings["UserID"].apply(lambda x: True if x in users else False)
df_ratings[df_ratings["condition"]]

In [10]:
df_ratings.head()

   UserID  ItemID  Rating  Timestamp
0       1    1193       5  978300760
1       1     661       3  978302109
2       1     914       3  978301968
3       1    3408       4  978300275
4       1    2355       5  978824291

In [11]:
df_ratings = df_ratings.sort_values("Timestamp", ascending=False)
df_ratings.head()

        UserID  ItemID  Rating   Timestamp
825603    4958    1924       4  1046454590
825724    4958    3264       4  1046454548
825731    4958    2634       3  1046454548
825438    4958    1407       5  1046454443
825793    4958    2399       1  1046454338

In [12]:
from collections import defaultdict

count_per_user = 1
user_counts = defaultdict(int)
rows = []
for index, row in df_ratings.iterrows():
    if user_counts[row["UserID"]] < count_per_user:
        rows += [index]
        user_counts[row["UserID"]] +=1

In [13]:
df_test_ratings = df_ratings.loc[rows]
df_train_ratings = df_ratings.loc[list(set(df_ratings.index)-set(df_test_ratings.index))]

In [14]:
df_test_ratings.head()

        UserID  ItemID  Rating   Timestamp
825603    4958    1924       4  1046454590
879288    5312    3267       4  1046444711
983967    5948    3098       4  1046437932
511804    3158    2648       4  1046393499
59497      403    1036       4  1046388675

In [15]:
df_train_ratings.head()

   UserID  ItemID  Rating  Timestamp
0       1    1193       5  978300760
1       1     661       3  978302109
2       1     914       3  978301968
3       1    3408       4  978300275
4       1    2355       5  978824291

df_test_ratings.to_csv("data/movielens.test.ratings", index=False)
df_train_ratings.to_csv("data/movielens.train.ratings", index=False)

### Implict Feedback and Negative Sampling

In [16]:
num_negs_per_positive = 5
user_item_pairs = defaultdict(set)

for x in df_ratings[["UserID", "ItemID"]].values:
    # add all +ve to set
    user_item_pairs[x[0]].add(x[1])

num_items = df_ratings["ItemID"].max()

def get_negs(u):
    negs = []
    for _i in range(num_negs_per_positive):
        # generate negatives and add to dict
        j = np.random.randint(num_items)
        while (u,j) in user_item_pairs[u]:
            j = np.random.randint(num_items)
        negs += [j]
        user_item_pairs[u].add(j)
    return negs

df_test_ratings["Negatives"] = df_test_ratings["UserID"].apply(lambda x: get_negs(x))
df_train_ratings["Negatives"] = df_train_ratings["UserID"].apply(lambda x: get_negs(x))

In [17]:
df_test_ratings.head()

        UserID  ItemID  Rating   Timestamp                       Negatives
825603    4958    1924       4  1046454590  [3662, 2153, 1381, 1384, 2986]
879288    5312    3267       4  1046444711   [1131, 2194, 1328, 343, 1569]
983967    5948    3098       4  1046437932  [3624, 2062, 1188, 2122, 1156]
511804    3158    2648       4  1046393499   [2353, 3645, 1144, 601, 1780]
59497      403    1036       4  1046388675    [1027, 1669, 1035, 372, 502]

In [19]:
df_test_ratings.to_pickle("data/movielens.test.data")
df_train_ratings.to_pickle("data/movielens.train.data")

In [20]:
!ls data/

movielens.test.data
movielens.train.data

In [21]:
len(df_train_ratings), len(df_test_ratings)

(994169, 6040)

In [23]:
pd.read_pickle("data/movielens.test.data")

        UserID  ItemID  Rating   Timestamp                       Negatives
825603    4958    1924       4  1046454590  [3662, 2153, 1381, 1384, 2986]
879288    5312    3267       4  1046444711   [1131, 2194, 1328, 343, 1569]
983967    5948    3098       4  1046437932  [3624, 2062, 1188, 2122, 1156]
511804    3158    2648       4  1046393499   [2353, 3645, 1144, 601, 1780]
59497      403    1036       4  1046388675    [1027, 1669, 1035, 372, 502]
609109    3693     468       3  1046383212   [2381, 2655, 3393, 710, 2710]
984733    5950    1262       4  1046369858  [1346, 2989, 3850, 1512, 1700]
772613    4607     203       4  1046355727   [716, 3034, 3884, 3429, 2286]
562846    3462    1078       3  1046351678     [3946, 857, 3280, 520, 354]
63234      424    2581       3  1046349099     [3327, 127, 691, 1294, 568]
33994      229    2839       5  1046325855   [1691, 3115, 2502, 2057, 605]
272699    1647    1646       3  1046322905   [1412, 2208, 481, 3684, 2921]
261180    1597     627       3  1046276283      [1334, 49, 445, 947, 1463]
937425    5654     180       4  1046275584    [986, 272, 3276, 1705, 2049]
848968    5100    3188       4  1046208129   [1409, 1362, 1731, 1314, 693]
73265      496    2208       4  1046207300  [3576, 2306, 2122, 2999, 2642]
550285    3391    3301       3  1046199976    [418, 3452, 177, 3120, 2920]
713774    4277    2675       4  1046193325   [1773, 1148, 1852, 573, 3913]
739393    4418    2883       4  1046124859   [3461, 3243, 1067, 2233, 477]
637549    3840     141       3  1046115337     [2188, 39, 3151, 374, 3512]
141350     911    2409       5  1046066544   [122, 3331, 3423, 2759, 2116]
689718    4126    1278       4  1046029514   [1659, 1309, 694, 3584, 2287]
290572    1733    3735       4  1046029081     [808, 966, 224, 2257, 2458]
53131      349     553       3  1046023737  [2518, 3190, 1274, 1775, 2834]
348853    2047    1449       3  1046022709   [1121, 1421, 1052, 1538, 129]
171627    1088    1186       4  1045995991   [3441, 1859, 1276, 1766, 911]
564246    3471    3275       4  1045955555  [2089, 2834, 3656, 1508, 3329]
263238    1605     443       4  1045955252   [3113, 2568, 3305, 1256, 295]
906610    5484    3895       4  1045946528   [2620, 2959, 648, 1239, 1675]
52135      343    1817       2  1045945209   [2651, 3806, 1785, 729, 3073]
...        ...     ...     ...         ...                             ...
997477    6024      11       5   956836579     [397, 350, 1979, 208, 2035]
997550    6025    1410       3   956813572    [2866, 292, 3071, 303, 3726]
999557    6037     968       4   956801840  [2154, 3313, 3601, 1435, 1693]
994376    6004    2840       5   956796531  [1597, 2243, 2638, 2219, 3454]
994486    6005    1329       3   956795190   [1493, 3800, 711, 2134, 1535]
994682    6007    3442       2   956793266    [1454, 1124, 57, 1957, 3618]
994992    6008    2001       4   956789302   [113, 1965, 1979, 1023, 3338]
994998    6009    1479       3   956788385   [158, 1914, 2753, 1872, 1602]
995582    6012    3113       1   956780818     [29, 2727, 3698, 815, 2849]
995809    6014    1711       3   956780780     [454, 956, 141, 1210, 1403]
995860    6015    1288       3   956779332   [2591, 101, 1446, 2791, 1174]
996844    6018    2450       2   956764609  [1499, 1248, 2133, 1161, 2660]
996805    6017    2906       3   956763670  [2585, 1379, 3098, 2498, 2318]
997005    6019    2153       3   956761244   [1152, 2226, 3420, 506, 2228]
997089    6020    2916       5   956758055    [2782, 874, 1871, 1993, 308]
999764    6039     912       4   956758029  [2184, 2973, 2842, 1961, 1502]
997208    6021    2613       3   956757611     [2115, 966, 16, 3616, 1943]
997295    6022    1097       4   956756307     [535, 2937, 1696, 28, 3461]
999076    6036    3574       1   956755196   [1380, 1736, 3444, 1084, 617]
997371    6023      81       4   956753048   [1009, 1442, 802, 3185, 3441]
997915    6027    1644       5   956726953     [774, 1745, 3604, 216, 313]
997817    6026    3068       4   956726855  [2146, 2086, 3543, 1231, 1085]
997976    6029    2829       3   956722153   [1780, 3912, 3312, 836, 2719]
998019    6030    3439       3   956719342   [1558, 3896, 825, 1385, 1411]
998174    6032    2087       4   956719266      [522, 245, 297, 2178, 605]
998139    6031     364       4   956718589     [1001, 93, 686, 1693, 3716]
999731    6038    1183       5   956717204    [2701, 2409, 2288, 85, 2720]
998312    6033    1676       1   956714112    [2438, 752, 1201, 1981, 593]
998435    6035    3146       1   956713640  [2642, 3839, 1089, 1482, 3765]
998343    6034    2987       3   956712388   [3089, 121, 2868, 3279, 3583]

[6040 rows x 5 columns]