In [73]:
import pandas as pd
import numpy as np
import keras
import random

In [10]:
item_features = pd.read_pickle("data/movielens20M.itemfeatures.pkl")
item_features.head()

,movieId_org,Description,Genre,Year,ContentRating,Year_B,Length_B,ItemID,count
movieId_mapped,,,,,,,,,
1,1,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 1, 0, 0, 0, 0]","[0, 1, 0, 0, 0, 0]",1995,80,1,1809
2,2,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, ...","[0, 1, 0, 0, 0, 0]","[0, 0, 0, 1, 0, 0]",1995,80,2,619
3,3,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 1, 0, 0, 0, 0]","[1, 0, 0, 0, 0, 0]",1995,80,3,100
4,4,"[0.0, 0.0, 0.0, 0.0, 0.37513907199, 0.0, 0.0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, ...","[0, 1, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 1]",1995,120,4,16
5,5,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, ...","[0, 1, 0, 0, 0, 0]","[0, 0, 0, 1, 0, 0]",1995,80,5,235

In [11]:
item_all = pd.read_pickle("movie_features_v3.pkl")

In [15]:
df_test = pd.read_pickle("data/movielens20M.testColdStart.data")
test_items = set(df_test["movieId_org"].unique())

In [31]:
train_df = item_all[item_all["movieId"].apply(lambda x: x not in test_items)]
train_df.shape

(8702, 9)

In [30]:
test_df = item_all[item_all["movieId"].apply(lambda x: x in test_items)]
test_df.shape

(425, 9)

In [35]:
train_df.head()

,movieId,storyline,description,description_encoded,genre_encoded,year_encoded,content_rating_encoded,year_binned,length_binned
movieId,,,,,,,,,
1,1,A little boy named Andy loves to be in his roo...,A cowboy doll is profoundly threatened and jea...,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 1, 0, 0, 0, 0]","[0, 1, 0, 0, 0, 0]",1995,80
2,2,After being trapped in a jungle board game for...,When two kids find and play a magical board ga...,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, ...","[0, 1, 0, 0, 0, 0]","[0, 0, 0, 1, 0, 0]",1995,80
3,3,Things don't seem to change much in Wabasha Co...,John and Max resolve to save their beloved bai...,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 1, 0, 0, 0, 0]","[1, 0, 0, 0, 0, 0]",1995,80
4,4,This story based on the best selling novel by ...,"Based on Terry McMillan's novel, this film fol...","[0.0, 0.0, 0.0, 0.0, 0.37513907199, 0.0, 0.0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, ...","[0, 1, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 1]",1995,120
5,5,"In this sequel to ""Father of the Bride"", Georg...",George Banks must deal not only with the pregn...,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, ...","[0, 1, 0, 0, 0, 0]","[0, 0, 0, 1, 0, 0]",1995,80

['young',
 'woman',
 'discovers',
 'elite',
 'manhattan',
 'preparatory',
 'school',
 'harbors',
 'dark',
 'secret']

In [8]:
import gensim

C:\Users\kdhim\Anaconda3\lib\site-packages\gensim\utils.py:862: UserWarning: detected Windows; aliasing chunkize to chunkize_serial
  warnings.warn("detected Windows; aliasing chunkize to chunkize_serial")

In [45]:
import nltk
from nltk.corpus import stopwords

In [48]:
stopWords = set(stopwords.words('english'))

In [101]:
train_corpus = []
_id=0
for i in train_df.index:
    train_corpus += [gensim.models.doc2vec.TaggedDocument(
            #[x for x in gensim.utils.simple_preprocess(train_df.loc[i]["description"]) if x not in stopWords], 
            gensim.utils.simple_preprocess(train_df.loc[i]["storyline"]),
            [_id])]
    _id+=1

In [102]:
test_corpus = []
for i in test_df.index:
    test_corpus += [
            #[x for x in gensim.utils.simple_preprocess(test_df.loc[i]["description"]) if x not in stopWords]
            gensim.utils.simple_preprocess(test_df.loc[i]["storyline"]),
        ]

In [132]:
model = gensim.models.doc2vec.Doc2Vec(size=30, min_count=2, iter=100)

In [133]:
model.build_vocab(train_corpus)

In [134]:
model.train(train_data, total_examples=model.corpus_count, epochs=model.iter)

13381784

In [135]:
model.infer_vector(test_corpus[10])

array([ 0.57298577,  0.18953863, -0.52014226,  0.2577199 ,  0.24072868,
        0.5637868 , -0.22773108,  0.15333141, -0.55589378, -0.06717356,
        0.08718319,  0.0968299 , -0.15646474,  0.52714896, -0.33003193,
       -0.22248702,  0.33629626, -0.80006927,  0.22962482,  0.16701387,
       -0.4404929 , -0.52197134,  0.13074176, -0.43820259, -0.37652332,
       -0.51142257,  0.29351631,  0.43814117, -0.0851125 , -0.43116009], dtype=float32)

In [136]:
doc_id = random.randint(0, len(test_corpus))
inferred_vector = model.infer_vector(test_corpus[doc_id])
sims = model.docvecs.most_similar([inferred_vector], topn=len(model.docvecs))
#print(sims)
# Compare and print the most/median/least similar documents from the train corpus
print('Test Document ({}): «{}»\n'.format(doc_id, ' '.join(test_corpus[doc_id])))
print(u'SIMILAR/DISSIMILAR DOCS PER MODEL %s:\n' % model)
for label, index in [('MOST', 0), ('MEDIAN', len(sims)//2), ('LEAST', len(sims) - 1)]:
    print(sims[index][0])
    print(u'%s %s: «%s»\n' % (label, sims[index], ' '.join(train_corpus[sims[index][0]].words)))

Test Document (315): «sir laurence olivier is making movie in london young colin clark an eager film student wants to be involved and he navigates himself job on the set when film star marilyn monroe arrives for the start of shooting all of london is excited to see the blonde bombshell while olivier is struggling to meet her many demands and acting ineptness and colin is intrigued by her colin intrigue is met when marilyn invites him into her inner world where she struggles with her fame her beauty and her desire to be great actress»

SIMILAR/DISSIMILAR DOCS PER MODEL Doc2Vec(dm/m,d30,n5,w5,mc2,s0.001,t3):

1419
MOST (1419, 0.6379808187484741): «flamboyant glasgow hairdresser crawford mackinzie gets letter from the world hairdresser international federation inviting him to its prestigious annual contest in filmmaker martin samuels is making fly on the wall documentary about crawford he and the crew go too after maxing out his credit card at the century plaza hotel crawford discovers he been invited to participate in the audience not the contest he tries every angle imaginable to get in the competition he phones fellow scot sean connery he gets union card he asks the reigning champion for help and he connects with connery publicist who having bad hair day will he succeed for the little people»

8153
MEDIAN (8153, -0.05570349097251892): «lone wolf drifter is traveling through the desolate north dakota prairie during harsh winter in his beat up station wagon towing an equally beat up trailer which probably contains all his worldly possessions his only companion is series of self help cassette tapes one which describes the path to romantic love he comes across deserted broken down pickup truck and further down the road the almost frozen dead body of its driver nathaniel shoemaker who he saves from dying in their travels the drifter learns directly from nathan and through very descriptive letters of nathan that the drifter reads while nathan is unconscious that nathan is going to pick up his pen pal girlfriend from prison she who has given him the nickname nodak they have been corresponding for three years during which time they have fallen in love despite not knowing what the other looks like largely due to his isolation and because of the cassette tapes which he has memorized the drifter believes»

1054
LEAST (1054, -0.6776720285415649): «in world where vampires walk the earth blade has goal his goal is to rid the world of all vampire evil when blade witnesses vampire bite dr karen jenson he fights away the beast and takes jenson back to his hideout here alongside abraham whistler blade attempts to help heal jenson the vampire quinn who was attacked by blade reports back to his master deacon frost who is planning huge surprise for the human population»

In [137]:
model.save("gensim_doc2vec")

In [140]:
item_all.head()
item_all.index = item_all["movieId"]

In [143]:
item_features["Storyline_gensim"]=item_features["movieId_org"].apply(lambda x: 
                                   model.infer_vector(
                                       item_all.loc[x]["storyline"])
                                  )

In [145]:
item_features.to_pickle("data/movielens20M.itemfeatures_gensim.pkl")

In [147]:
item_features.tail()

,movieId_org,Description,Genre,Year,ContentRating,Year_B,Length_B,ItemID,count,Storyline_gensim
movieId_mapped,,,,,,,,,,
2413,131243,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 1, 0, 0, 0]","[0, 0, 0, 0, 1, 0]",2000,40,2413,1,"[0.00227779, -0.0121241, -0.00863728, 0.001935..."
166,131248,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 1, 0, 0]","[0, 1, 0, 0, 0, 0]",2005,40,166,1,"[0.00676804, 0.0147747, -0.00501439, -0.011021..."
2443,131252,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, ...","[0, 0, 1, 0, 0, 0]","[0, 0, 0, 0, 1, 0]",2000,0,2443,1,"[-0.015437, 0.0151046, 0.00226594, 0.0017954, ..."
174,131256,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 1, 0, 0, 0]","[0, 0, 0, 0, 1, 0]",2000,80,174,1,"[-0.0142843, -0.0146538, 0.00742279, 0.0073224..."
181,131262,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 1, 0]","[1, 0, 0, 0, 0, 0]",2010,80,181,1,"[-0.00897443, -0.0108254, -0.00711309, 0.00412..."

8491